# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
*.bluej

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

Car.java:
public class Car{

    private String carName;
    private int milesDriven;
    private int gallonsUsed;

    public Car() {
        this.carName = "";
        this.milesDriven = 0;
        this.gallonsUsed = 0;
    }

    public Car(String carName, int milesDriven, int gallonsUsed){
        this.carName = carName;
        this.milesDriven = milesDriven;
        this.gallonsUsed = gallonsUsed;
    }



    public String getCarName() {
        return carName;
    }
    public void setCarName(String carName) {
        this.carName = carName;
    }

    public int getMilesDriven() {
        return milesDriven;
    }
    public void setMilesDriven(int milesDriven) {
        this.milesDriven = milesDriven;
    }

    public int getGallonsUsed() {
        return gallonsUsed;
    }
    public void setGallonsUsed(int gallonsUsed) {
        this.gallonsUsed = gallonsUsed;
    }


    public double calculateAverage(){
        double mpg = (double) milesDriven/(double) gallonsUsed;
        return Math.round(mpg * 10.0)/10.0;
    }

    public String toString(){
        return carName + " averaged " + calculateAverage() + " mpg";

    }

}
CarTester.java:
import java.util.Scanner;

public class CarTester {
    Scanner scanner = new Scanner(System.in);
    public Car addCar(){
        System.out.println("Enter car name:");
        String newCustomCar = scanner.nextLine();
        System.out.println("Enter miles driven:");
        int customCarMiles = Integer.parseInt(scanner.nextLine());
        System.out.println("Enter gallons used to drive miles:");
        int customCarGallons = Integer.parseInt(scanner.nextLine());

        return new Car(newCustomCar, customCarMiles, customCarGallons);
    }

    public static void main(String[] args) {
        Car car1 = new CarTester().addCar();
        System.out.println(car1);
        System.out.println("--------------------NEXT CAR----------------------");
        Car car2 = new CarTester().addCar();
        System.out.println(car2);
    }
}

/*
Console Output:
Enter car name:
Honda Civic
Enter miles driven:
234
Enter gallons used to drive miles:
100
Honda Civic averaged 2.3 mpg
--------------------NEXT CAR----------------------
Enter car name:
Toad Mobile
Enter miles driven:
13
Enter gallons used to drive miles:
7
Toad Mobile averaged 1.9 mpg



*/
